*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
canvas{
    position: absolute;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1a1919;
}